{
    "port": "443",
    "mode": "DEV",
    "datapack": "",
    "template": "",
    "static": "/public/",
    "https": {
        "enabled":  true,
        "cert": "",
        "key": ""
    },
    "routes": [
        {
            "path": "/lua/test",
            "method": "GET",
            "file": "test.lua"
        }
    ],
    "database": {
        "type": "mysql",
        "user": "",
        "password": "",
        "database": ""
    },
    "paypal": {
        "payment": {
            "points": 5,
            "min": 10,
            "max": 100
        },
        "mode": "sandbox",
        "public": "",
        "secret": "",
        "promo": 10 
    },
    "captcha": {
        "public": "",
        "private": ""
    },
    "register": {
        "premdays": 100,
        "experience": 4200,
        "stamina": 4200,
        "level": 8,
        "health": 42,
        "healthMax": 42,
        "mana": 0,
        "manaMax": 0,
        "male": {
            "lookbody": 10,
            "lookfeet": 10,
            "lookhead": 10,
            "looktype": 10,
            "lookaddons": 10
        },
        "female": {
            "lookbody": 10,
            "lookfeet": 10,
            "lookhead": 10,
            "looktype": 10,
            "lookaddons": 10
        },
        "skills": {
            "axe": 10,
            "sword": 10,
            "club": 10,
            "dist": 10,
            "fish": 10,
            "fist": 10,
            "shield": 10    
        }
    }
}